In [1]:
pwd

'/Users/ellismok/Desktop/Challenges/COVID19-ETL-Project/Transform/Cleaning Workbook'

In [2]:
# Import libraries to use to start cleaning the EDD dataset
import csv
import pandas as pd
import numpy as np
import datetime

In [3]:
# Create a path to data file
edd_path = "../../Extract/rawdata/employment_dataset.csv"

# Then read the EDD data and its study results
edd_df = pd.read_csv(edd_path)
edd_df

,Unnamed: 0,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,0,County,Alameda County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,802100,743800,58300,0.073
1,1,County,Alpine County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,620,580,40,0.069
2,2,County,Amador County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,14330,13140,1190,0.083
3,3,County,Butte County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,89100,81700,7400,0.083
4,4,County,Calaveras County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,21140,19670,1460,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...
25995,25995,County,Orange County,2004-06-01T00:00:00.000,2004,June,N,Final,1563600,1492500,71100,0.045
25996,25996,County,Placer County,2004-06-01T00:00:00.000,2004,June,N,Final,158900,150800,8200,0.051
25997,25997,County,Plumas County,2004-06-01T00:00:00.000,2004,June,N,Final,10960,10110,850,0.077
25998,25998,County,Riverside County,2004-06-01T00:00:00.000,2004,June,N,Final,815300,765200,50100,0.062
25999,25999,County,Sacramento County,2004-06-01T00:00:00.000,2004,June,N,Final,660100,621300,38700,0.059

In [5]:
# Before cleaning the data rename area_name to county (aligns with other datasets) using the .rename function 
edd_df.rename(columns = {"area_name": "county"},  
          inplace = True) 
edd_df

,Unnamed: 0,area_type,county,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,0,County,Alameda County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,802100,743800,58300,0.073
1,1,County,Alpine County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,620,580,40,0.069
2,2,County,Amador County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,14330,13140,1190,0.083
3,3,County,Butte County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,89100,81700,7400,0.083
4,4,County,Calaveras County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,21140,19670,1460,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...
25995,25995,County,Orange County,2004-06-01T00:00:00.000,2004,June,N,Final,1563600,1492500,71100,0.045
25996,25996,County,Placer County,2004-06-01T00:00:00.000,2004,June,N,Final,158900,150800,8200,0.051
25997,25997,County,Plumas County,2004-06-01T00:00:00.000,2004,June,N,Final,10960,10110,850,0.077
25998,25998,County,Riverside County,2004-06-01T00:00:00.000,2004,June,N,Final,815300,765200,50100,0.062
25999,25999,County,Sacramento County,2004-06-01T00:00:00.000,2004,June,N,Final,660100,621300,38700,0.059

In [6]:
# Extract only the COVID 19 years which is from Jan 2020 to January 2021 using .loc
covid_year_df = edd_df.loc[edd_df["year"]>=2020]
covid_year_df

,Unnamed: 0,area_type,county,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,0,County,Alameda County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,802100,743800,58300,0.073
1,1,County,Alpine County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,620,580,40,0.069
2,2,County,Amador County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,14330,13140,1190,0.083
3,3,County,Butte County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,89100,81700,7400,0.083
4,4,County,Calaveras County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,21140,19670,1460,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...
13654,13654,Sub-County Place,Yountville town,2020-01-01T00:00:00.000,2020,January,N,Preliminary,1100,1000,0,0.046
13655,13655,Sub-County Place,Yreka city,2020-01-01T00:00:00.000,2020,January,N,Preliminary,3040,2810,230,0.074
13656,13656,Sub-County Place,Yuba City city,2020-01-01T00:00:00.000,2020,January,N,Preliminary,31200,28400,2800,0.090
13657,13657,Sub-County Place,Yucaipa city,2020-01-01T00:00:00.000,2020,January,N,Preliminary,25600,24700,900,0.034
13658,13658,Sub-County Place,Yucca Valley town,2020-01-01T00:00:00.000,2020,January,N,Preliminary,9000,8400,600,0.062

In [7]:
# Search the types of rows this dataset has & filter according to 'county' (our main indicator)
covid_year_df["area_type"].unique()

array(['County', 'Metropolitan Area', 'State', 'Sub-County Place',
       'Metro Division', 'MSA'], dtype=object)

In [33]:
# Extract only county from the covid_year_df
county_df = covid_year_df.loc[covid_year_df["area_type"]=="County"]
county_df

,Unnamed: 0,area_type,county,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,0,County,Alameda County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,802100,743800,58300,0.073
1,1,County,Alpine County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,620,580,40,0.069
2,2,County,Amador County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,14330,13140,1190,0.083
3,3,County,Butte County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,89100,81700,7400,0.083
4,4,County,Calaveras County,2021-01-01T00:00:00.000,2021,January,N,Preliminary,21140,19670,1460,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...
12660,12660,County,Tulare County,2020-01-01T00:00:00.000,2020,January,N,Preliminary,204500,181700,22800,0.112
12661,12661,County,Tuolumne County,2020-01-01T00:00:00.000,2020,January,N,Preliminary,20440,19370,1070,0.052
12662,12662,County,Ventura County,2020-01-01T00:00:00.000,2020,January,N,Preliminary,419800,403100,16700,0.040
12663,12663,County,Yolo County,2020-01-01T00:00:00.000,2020,January,N,Preliminary,107900,102400,5500,0.051
12664,12664,County,Yuba County,2020-01-01T00:00:00.000,2020,January,N,Preliminary,30200,28000,2200,0.073

In [34]:
# Clean each county: original (x "" County) to reformatted (x)
county_df["county"] = county_df["county"].str.strip("County")
county_df

<ipython-input-34-f71d26a8845b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_df["county"] = county_df["county"].str.strip("County")

,Unnamed: 0,area_type,county,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,0,County,Alameda,2021-01-01T00:00:00.000,2021,January,N,Preliminary,802100,743800,58300,0.073
1,1,County,Alpine,2021-01-01T00:00:00.000,2021,January,N,Preliminary,620,580,40,0.069
2,2,County,Amador,2021-01-01T00:00:00.000,2021,January,N,Preliminary,14330,13140,1190,0.083
3,3,County,Butte,2021-01-01T00:00:00.000,2021,January,N,Preliminary,89100,81700,7400,0.083
4,4,County,alaveras,2021-01-01T00:00:00.000,2021,January,N,Preliminary,21140,19670,1460,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...
12660,12660,County,Tulare,2020-01-01T00:00:00.000,2020,January,N,Preliminary,204500,181700,22800,0.112
12661,12661,County,Tuolumne,2020-01-01T00:00:00.000,2020,January,N,Preliminary,20440,19370,1070,0.052
12662,12662,County,Ventura,2020-01-01T00:00:00.000,2020,January,N,Preliminary,419800,403100,16700,0.040
12663,12663,County,Yolo,2020-01-01T00:00:00.000,2020,January,N,Preliminary,107900,102400,5500,0.051
12664,12664,County,Yuba,2020-01-01T00:00:00.000,2020,January,N,Preliminary,30200,28000,2200,0.073

In [35]:
# LA shows up twice because of seasonally_adjusted_y_n. We only want the Los Angeles NOT seasonally adjusted from the dataset.
LA_filtered_county = county_df.loc[county_df["seasonally_adjusted_y_n"] == "N"]
LA_filtered_county

,Unnamed: 0,area_type,county,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,0,County,Alameda,2021-01-01T00:00:00.000,2021,January,N,Preliminary,802100,743800,58300,0.073
1,1,County,Alpine,2021-01-01T00:00:00.000,2021,January,N,Preliminary,620,580,40,0.069
2,2,County,Amador,2021-01-01T00:00:00.000,2021,January,N,Preliminary,14330,13140,1190,0.083
3,3,County,Butte,2021-01-01T00:00:00.000,2021,January,N,Preliminary,89100,81700,7400,0.083
4,4,County,alaveras,2021-01-01T00:00:00.000,2021,January,N,Preliminary,21140,19670,1460,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...
12660,12660,County,Tulare,2020-01-01T00:00:00.000,2020,January,N,Preliminary,204500,181700,22800,0.112
12661,12661,County,Tuolumne,2020-01-01T00:00:00.000,2020,January,N,Preliminary,20440,19370,1070,0.052
12662,12662,County,Ventura,2020-01-01T00:00:00.000,2020,January,N,Preliminary,419800,403100,16700,0.040
12663,12663,County,Yolo,2020-01-01T00:00:00.000,2020,January,N,Preliminary,107900,102400,5500,0.051
12664,12664,County,Yuba,2020-01-01T00:00:00.000,2020,January,N,Preliminary,30200,28000,2200,0.073

In [36]:
# Drop unneccessary columns: "Unnamed: 0", "area_type","year","month", "status_preliminary_final", "seasonally_adjusted_y_n"
cleaned_covid_year_df = LA_filtered_county.drop(columns= ["Unnamed: 0", "year","month", "area_type", "seasonally_adjusted_y_n","status_preliminary_final"], axis = 1)
cleaned_covid_year_df

,county,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-01-01T00:00:00.000,802100,743800,58300,0.073
1,Alpine,2021-01-01T00:00:00.000,620,580,40,0.069
2,Amador,2021-01-01T00:00:00.000,14330,13140,1190,0.083
3,Butte,2021-01-01T00:00:00.000,89100,81700,7400,0.083
4,alaveras,2021-01-01T00:00:00.000,21140,19670,1460,0.069
...,...,...,...,...,...,...
12660,Tulare,2020-01-01T00:00:00.000,204500,181700,22800,0.112
12661,Tuolumne,2020-01-01T00:00:00.000,20440,19370,1070,0.052
12662,Ventura,2020-01-01T00:00:00.000,419800,403100,16700,0.040
12663,Yolo,2020-01-01T00:00:00.000,107900,102400,5500,0.051
12664,Yuba,2020-01-01T00:00:00.000,30200,28000,2200,0.073

In [37]:
# Format the date column to yyyy-mm-dd
cleaned_covid_year_df["date"] = cleaned_covid_year_df["date"].apply(pd.to_datetime)
cleaned_covid_year_df.head(100)

,county,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-01-01,802100,743800,58300,0.073
1,Alpine,2021-01-01,620,580,40,0.069
2,Amador,2021-01-01,14330,13140,1190,0.083
3,Butte,2021-01-01,89100,81700,7400,0.083
4,alaveras,2021-01-01,21140,19670,1460,0.069
...,...,...,...,...,...,...
1061,San Francisco,2020-12-01,541600,506700,34900,0.064
1062,San Joaquin,2020-12-01,332700,299400,33400,0.100
1063,San Luis Obispo,2020-12-01,128500,120000,8600,0.067
1064,San Mateo,2020-12-01,424400,399700,24700,0.058
1065,Santa Barbara,2020-12-01,213100,197600,15500,0.073

In [38]:
# Create a new csv without the index
cleaned_covid_year_df.to_csv("../Output/Cleaned Datasets/EDD_cleaned_dataset.csv", index=False)

In [39]:
pwd

'/Users/ellismok/Desktop/Challenges/COVID19-ETL-Project/Transform/Cleaning Workbook'