In [148]:
# Libraries imported
import pandas as pd
import pathlib

In [149]:
# Set path for file
csvpath = pathlib.Path("Resources/covid19hospitalbycounty.csv")
print(csvpath)

Resources\covid19hospitalbycounty.csv

In [150]:
# Reading csv 
covidhospitalbycounty_df = pd.read_csv(csvpath)
covidhospitalbycounty_df.head()

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Madera,3/29/2020,1.0,6.0,NaN,NaN,1.0,1.0,8.0
1,Calaveras,3/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sonoma,3/29/2020,7.0,20.0,NaN,NaN,2.0,5.0,12.0
3,Tulare,3/29/2020,6.0,13.0,NaN,NaN,5.0,3.0,7.0
4,San Bernardino,3/29/2020,33.0,123.0,NaN,NaN,19.0,20.0,65.0

In [151]:
# Finding the total number of hospitalized covid patients
covidhospitalbycounty_df["total_covid_patients"] = covidhospitalbycounty_df["hospitalized_suspected_covid_patients"] + covidhospitalbycounty_df["hospitalized_covid_confirmed_patients"] 
covidhospitalbycounty_df

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds,total_covid_patients
0,Madera,3/29/2020,1.0,6.0,NaN,NaN,1.0,1.0,8.0,7.0
1,Calaveras,3/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sonoma,3/29/2020,7.0,20.0,NaN,NaN,2.0,5.0,12.0,27.0
3,Tulare,3/29/2020,6.0,13.0,NaN,NaN,5.0,3.0,7.0,19.0
4,San Bernardino,3/29/2020,33.0,123.0,NaN,NaN,19.0,20.0,65.0,156.0
...,...,...,...,...,...,...,...,...,...,...
19704,Marin,3/15/2021,15.0,3.0,18.0,319.0,7.0,0.0,9.0,18.0
19705,Orange,3/15/2021,216.0,24.0,240.0,5709.0,62.0,5.0,262.0,240.0
19706,Santa Clara,3/15/2021,144.0,14.0,158.0,2965.0,44.0,1.0,66.0,158.0
19707,Riverside,3/15/2021,188.0,23.0,211.0,3136.0,42.0,5.0,98.0,211.0
19708,San Francisco,3/15/2021,45.0,3.0,48.0,2115.0,16.0,0.0,93.0,48.0

In [152]:
#Fill in zero for all NaN using .fillna function
covidhospitalbycounty_df.fillna(0, inplace = True, downcast = 'infer')
covidhospitalbycounty_df

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds,total_covid_patients
0,Madera,3/29/2020,1,6,0,0,1,1,8,7
1,Calaveras,3/29/2020,0,0,0,0,0,0,0,0
2,Sonoma,3/29/2020,7,20,0,0,2,5,12,27
3,Tulare,3/29/2020,6,13,0,0,5,3,7,19
4,San Bernardino,3/29/2020,33,123,0,0,19,20,65,156
...,...,...,...,...,...,...,...,...,...,...
19704,Marin,3/15/2021,15,3,18,319,7,0,9,18
19705,Orange,3/15/2021,216,24,240,5709,62,5,262,240
19706,Santa Clara,3/15/2021,144,14,158,2965,44,1,66,158
19707,Riverside,3/15/2021,188,23,211,3136,42,5,98,211
19708,San Francisco,3/15/2021,45,3,48,2115,16,0,93,48

In [153]:
# Delete extraneous columns: "hospitalized_covid_patients" and "icu_covid_confirmed_patients"
covidhospitalbycounty_df =covidhospitalbycounty_df.drop(columns= ["hospitalized_covid_patients"])    
covidhospitalbycounty_df.head()

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds,total_covid_patients
0,Madera,3/29/2020,1,6,0,1,1,8,7
1,Calaveras,3/29/2020,0,0,0,0,0,0,0
2,Sonoma,3/29/2020,7,20,0,2,5,12,27
3,Tulare,3/29/2020,6,13,0,5,3,7,19
4,San Bernardino,3/29/2020,33,123,0,19,20,65,156

In [168]:
# Rename the column todays_date':'date'
covidhospitalbycounty_df.rename(columns = {'hospitalized_covid_confirmed_patients': 'confirmed_patients','hospitalized_suspected_covid_patients':'suspected_patients','todays_date':'date',"icu_suspected_covid_patients" : "icu_covid_suspected","icu_covid_confirmed_patients" :"icu_covid_confirmed"},
          inplace=True)

covidhospitalbycounty_df.head()

,county,date,confirmed_patients,suspected_patients,all_hospital_beds,icu_covid_confirmed,icu_covid_suspected,icu_available_beds,total_covid_patients
0,Madera,2020-03-29,1,6,0,1,1,8,7
1,Calaveras,2020-03-29,0,0,0,0,0,0,0
2,Sonoma,2020-03-29,7,20,0,2,5,12,27
3,Tulare,2020-03-29,6,13,0,5,3,7,19
4,San Bernardino,2020-03-29,33,123,0,19,20,65,156

In [155]:
#final df for covidhospitalbycounty data
covidhospitalbycounty_df["date"] = covidhospitalbycounty_df["date"].apply(pd.to_datetime)
covidhospitalbycounty_df

,county,date,confirmed_patients,suspected_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds,total_covid_patients
0,Madera,2020-03-29,1,6,0,1,1,8,7
1,Calaveras,2020-03-29,0,0,0,0,0,0,0
2,Sonoma,2020-03-29,7,20,0,2,5,12,27
3,Tulare,2020-03-29,6,13,0,5,3,7,19
4,San Bernardino,2020-03-29,33,123,0,19,20,65,156
...,...,...,...,...,...,...,...,...,...
19704,Marin,2021-03-15,15,3,319,7,0,9,18
19705,Orange,2021-03-15,216,24,5709,62,5,262,240
19706,Santa Clara,2021-03-15,144,14,2965,44,1,66,158
19707,Riverside,2021-03-15,188,23,3136,42,5,98,211
19708,San Francisco,2021-03-15,45,3,2115,16,0,93,48

In [156]:
# Set path for file
csvpath = pathlib.Path("Resources/covid19cases_test.csv")
print(csvpath)

Resources\covid19cases_test.csv

In [157]:
# Read the path
covid19cases_df = pd.read_csv(csvpath)
covid19cases_df.head()

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,County,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,NaN,NaN
1,3/16/2021,Alpine,County,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,NaN,NaN
2,3/16/2021,Amador,County,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,NaN,NaN
3,3/16/2021,Butte,County,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,NaN,NaN
4,3/16/2021,Calaveras,County,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,NaN,NaN

In [158]:
# Delete extraneous column
covid19cases_df =covid19cases_df.drop(columns= ["area_type"])    
covid19cases_df.head()

,date,area,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,NaN,NaN
1,3/16/2021,Alpine,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,NaN,NaN
2,3/16/2021,Amador,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,NaN,NaN
3,3/16/2021,Butte,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,NaN,NaN
4,3/16/2021,Calaveras,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,NaN,NaN

In [174]:
covid19cases_df.rename(columns = {'area': 'county'},
          inplace=True)

covid19cases_df.head()

C:\Users\silva\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,date,county,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,2021-03-16,Alameda,1685886,0,82259,0,1177,0,2108264,0,95660,100,82259,10,1177,0,0
1,2021-03-16,Alpine,1117,0,82,0,0,0,1842,0,30,0,82,0,0,0,0
2,2021-03-16,Amador,38531,0,3510,0,44,0,96792,0,4015,4,3510,0,44,0,0
3,2021-03-16,Butte,217769,0,11154,0,184,0,188353,0,11740,13,11154,-1,184,0,0
4,2021-03-16,Calaveras,44289,0,1945,0,49,0,35204,0,2188,4,1945,0,49,0,0

In [159]:
# remove out of state row
covid19cases_df = covid19cases_df.loc[( covid19cases_df['area']!= 'Out of state' )]
covid19cases_df

,date,area,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,NaN,NaN
1,3/16/2021,Alpine,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,NaN,NaN
2,3/16/2021,Amador,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,NaN,NaN
3,3/16/2021,Butte,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,NaN,NaN
4,3/16/2021,Calaveras,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26896,1/1/2020,Tuolumne,52351.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26897,1/1/2020,Unknown,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
26898,1/1/2020,Ventura,852747.0,1.0,4.0,0.0,0.0,2.0,948.0,0.0,16.0,0.0,0.0,0.0,0.0,NaN,NaN
26899,1/1/2020,Yolo,223612.0,0.0,2.0,0.0,1.0,3.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26900,1/1/2020,Yuba,79290.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [160]:
# remove unknown row
covid19cases_df = covid19cases_df.loc[( covid19cases_df['area']!= 'Unknown'  ),]
covid19cases_df

,date,area,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,NaN,NaN
1,3/16/2021,Alpine,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,NaN,NaN
2,3/16/2021,Amador,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,NaN,NaN
3,3/16/2021,Butte,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,NaN,NaN
4,3/16/2021,Calaveras,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26895,1/1/2020,Tulare,484423.0,0.0,0.0,0.0,0.0,6.0,5614.0,0.0,805.0,0.0,0.0,0.0,0.0,NaN,NaN
26896,1/1/2020,Tuolumne,52351.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26898,1/1/2020,Ventura,852747.0,1.0,4.0,0.0,0.0,2.0,948.0,0.0,16.0,0.0,0.0,0.0,0.0,NaN,NaN
26899,1/1/2020,Yolo,223612.0,0.0,2.0,0.0,1.0,3.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26900,1/1/2020,Yuba,79290.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [161]:
covid19cases_df.fillna(0, inplace = True, downcast = 'infer')
covid19cases_df

C:\Users\silva\anaconda3\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,date,area,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,1685886,0,82259,0,1177,0,2108264,0,95660,100,82259,10,1177,0,0
1,3/16/2021,Alpine,1117,0,82,0,0,0,1842,0,30,0,82,0,0,0,0
2,3/16/2021,Amador,38531,0,3510,0,44,0,96792,0,4015,4,3510,0,44,0,0
3,3/16/2021,Butte,217769,0,11154,0,184,0,188353,0,11740,13,11154,-1,184,0,0
4,3/16/2021,Calaveras,44289,0,1945,0,49,0,35204,0,2188,4,1945,0,49,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26895,1/1/2020,Tulare,484423,0,0,0,0,6,5614,0,805,0,0,0,0,0,0
26896,1/1/2020,Tuolumne,52351,0,0,0,0,0,1,0,0,0,0,0,0,0,0
26898,1/1/2020,Ventura,852747,1,4,0,0,2,948,0,16,0,0,0,0,0,0
26899,1/1/2020,Yolo,223612,0,2,0,1,3,28,0,0,0,0,0,0,0,0
26900,1/1/2020,Yuba,79290,0,1,0,0,0,3,0,1,0,0,0,0,0,0

In [162]:
#final df for covid19 data
covid19cases_df["date"] = covid19cases_df["date"].apply(pd.to_datetime)
covid19cases_df

<ipython-input-162-07531ce0ff15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid19cases_df["date"] = covid19cases_df["date"].apply(pd.to_datetime)

,date,area,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,2021-03-16,Alameda,1685886,0,82259,0,1177,0,2108264,0,95660,100,82259,10,1177,0,0
1,2021-03-16,Alpine,1117,0,82,0,0,0,1842,0,30,0,82,0,0,0,0
2,2021-03-16,Amador,38531,0,3510,0,44,0,96792,0,4015,4,3510,0,44,0,0
3,2021-03-16,Butte,217769,0,11154,0,184,0,188353,0,11740,13,11154,-1,184,0,0
4,2021-03-16,Calaveras,44289,0,1945,0,49,0,35204,0,2188,4,1945,0,49,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26895,2020-01-01,Tulare,484423,0,0,0,0,6,5614,0,805,0,0,0,0,0,0
26896,2020-01-01,Tuolumne,52351,0,0,0,0,0,1,0,0,0,0,0,0,0,0
26898,2020-01-01,Ventura,852747,1,4,0,0,2,948,0,16,0,0,0,0,0,0
26899,2020-01-01,Yolo,223612,0,2,0,1,3,28,0,0,0,0,0,0,0,0
26900,2020-01-01,Yuba,79290,0,1,0,0,0,3,0,1,0,0,0,0,0,0

In [163]:
# Set path for file
csvpath= pathlib.Path("Resources/covid19vaccinesbycounty.csv")

In [164]:
vaccines_df = pd.read_csv(csvpath)
vaccines_df.head()

       county administered_date  total_doses california_flag
0  Stanislaus         3/16/2021            2      California
1     Alameda         3/15/2021         6028      California
2      Alpine         3/15/2021           19      California
3      Amador         3/15/2021           15      California
4       Butte         3/15/2021          881      California

In [165]:
# Delete extraneous column
vaccines_df=vaccines_df.drop(columns= ["california_flag"])    
vaccines_df.head()

       county administered_date  total_doses
0  Stanislaus         3/16/2021            2
1     Alameda         3/15/2021         6028
2      Alpine         3/15/2021           19
3      Amador         3/15/2021           15
4       Butte         3/15/2021          881

In [134]:
# Fill 0 for NaN
vaccines_df.fillna(0, inplace = True, downcast = 'infer')
vaccines_df

          county       date  total_doses
0     Stanislaus 2021-03-16            2
1        Alameda 2021-03-15         6028
2         Alpine 2021-03-15           19
3         Amador 2021-03-15           15
4          Butte 2021-03-15          881
...          ...        ...          ...
5207  Stanislaus 2020-12-15            2
5208      Sutter 2020-12-15            1
5209      Tehama 2020-12-15            1
5210     Ventura 2020-12-15            5
5211        Yolo 2020-12-15           39

[5212 rows x 3 columns]

In [100]:
# Rename columns by county_name to county and administered_date to date
vaccines_df.rename(columns = {'county_name':'county','administered_date':'date'}, 
          inplace=True)

vaccines_df.head()

       county       date  total_doses
0  Stanislaus  3/16/2021            2
1     Alameda  3/15/2021         6028
2      Alpine  3/15/2021           19
3      Amador  3/15/2021           15
4       Butte  3/15/2021          881

In [101]:
# Final dataset for vaccines with changing the format of the date
vaccines_df["date"] = vaccines_df["date"].apply(pd.to_datetime)
vaccines_df

          county       date  total_doses
0     Stanislaus 2021-03-16            2
1        Alameda 2021-03-15         6028
2         Alpine 2021-03-15           19
3         Amador 2021-03-15           15
4          Butte 2021-03-15          881
...          ...        ...          ...
5207  Stanislaus 2020-12-15            2
5208      Sutter 2020-12-15            1
5209      Tehama 2020-12-15            1
5210     Ventura 2020-12-15            5
5211        Yolo 2020-12-15           39

[5212 rows x 3 columns]

In [103]:
# This is the final vaccine data that will be used in SQL
vaccines_df.to_csv("vaccines_df.csv")

In [104]:
# This is the final hospital by county data
covidhospitalbycounty_df.to_csv("covidhospitalbycounty_df.csv")

In [106]:
# This is the final COVID19 test cases data
covid19cases_df.to_csv("covid19cases_df.csv")

### Creating individual DF

In [ ]:
# Final DF vaccines_df
vaccines_df

In [142]:
# Final DF for Hospitalized_COVID_patients: county, date, confirmed_patients, suspected_patients, total_covid_patients
Hospitalized_COVID_patients= covidhospitalbycounty_df[["county","date","confirmed_patients", "suspected_patients", "total_covid_patients"]]
Hospitalized_COVID_patients

,county,date,confirmed_patients,suspected_patients,total_covid_patients
0,Madera,2020-03-29,1,6,7
1,Calaveras,2020-03-29,0,0,0
2,Sonoma,2020-03-29,7,20,27
3,Tulare,2020-03-29,6,13,19
4,San Bernardino,2020-03-29,33,123,156
...,...,...,...,...,...
19704,Marin,2021-03-15,15,3,18
19705,Orange,2021-03-15,216,24,240
19706,Santa Clara,2021-03-15,144,14,158
19707,Riverside,2021-03-15,188,23,211
19708,San Francisco,2021-03-15,45,3,48

In [143]:
# Final DF for Hospital_beds: county, date,all_hospital_beds,icu_available_beds
Hospital_beds= covidhospitalbycounty_df[["county","date","all_hospital_beds","icu_available_beds"]]
Hospital_beds

               county       date  all_hospital_beds  icu_available_beds
0              Madera 2020-03-29                  0                   8
1           Calaveras 2020-03-29                  0                   0
2              Sonoma 2020-03-29                  0                  12
3              Tulare 2020-03-29                  0                   7
4      San Bernardino 2020-03-29                  0                  65
...               ...        ...                ...                 ...
19704           Marin 2021-03-15                319                   9
19705          Orange 2021-03-15               5709                 262
19706     Santa Clara 2021-03-15               2965                  66
19707       Riverside 2021-03-15               3136                  98
19708   San Francisco 2021-03-15               2115                  93

[19709 rows x 4 columns]

In [169]:
#Final DF for ICU_COVID_patients: county, date, icu_covid_confirmed, icu_covid_suspected
ICU_COVID_patients= covidhospitalbycounty_df[["county","date","icu_covid_confirmed","icu_covid_suspected"]]
ICU_COVID_patients

               county       date  icu_covid_confirmed  icu_covid_suspected
0              Madera 2020-03-29                    1                    1
1           Calaveras 2020-03-29                    0                    0
2              Sonoma 2020-03-29                    2                    5
3              Tulare 2020-03-29                    5                    3
4      San Bernardino 2020-03-29                   19                   20
...               ...        ...                  ...                  ...
19704           Marin 2021-03-15                    7                    0
19705          Orange 2021-03-15                   62                    5
19706     Santa Clara 2021-03-15                   44                    1
19707       Riverside 2021-03-15                   42                    5
19708   San Francisco 2021-03-15                   16                    0

[19709 rows x 4 columns]

In [175]:
# Final DF for Total_tests: county, date, total_tests, cumulative_total_tests, positive_tests, cumulative_positive_tests, reported_tests, cumulative_reported_tests
Total_tests= covid19cases_df[["county","date","total_tests","cumulative_total_tests","positive_tests","cumulative_positive_tests","reported_tests","cumulative_reported_tests"]]
Total_tests

,county,date,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_tests,cumulative_reported_tests
0,Alameda,2021-03-16,0,2108264,0,95660,0,0
1,Alpine,2021-03-16,0,1842,0,30,0,0
2,Amador,2021-03-16,0,96792,0,4015,0,0
3,Butte,2021-03-16,0,188353,0,11740,0,0
4,Calaveras,2021-03-16,0,35204,0,2188,0,0
...,...,...,...,...,...,...,...,...
26895,Tulare,2020-01-01,6,5614,0,805,0,0
26896,Tuolumne,2020-01-01,0,1,0,0,0,0
26898,Ventura,2020-01-01,2,948,0,16,0,0
26899,Yolo,2020-01-01,3,28,0,0,0,0
26900,Yuba,2020-01-01,0,3,0,1,0,0

In [178]:
# Final DF for Deaths: county, date, deaths, cumulative_deaths, reported_deaths, cumulative_reported_deaths
Deaths= covid19cases_df[["county","date","deaths","cumulative_deaths", "reported_deaths","cumulative_reported_deaths"]]
Deaths

,county,date,deaths,cumulative_deaths,reported_deaths,cumulative_reported_deaths
0,Alameda,2021-03-16,0,1177,10,1177
1,Alpine,2021-03-16,0,0,0,0
2,Amador,2021-03-16,0,44,0,44
3,Butte,2021-03-16,0,184,-1,184
4,Calaveras,2021-03-16,0,49,0,49
...,...,...,...,...,...,...
26895,Tulare,2020-01-01,0,0,0,0
26896,Tuolumne,2020-01-01,0,0,0,0
26898,Ventura,2020-01-01,0,0,0,0
26899,Yolo,2020-01-01,0,1,0,0
26900,Yuba,2020-01-01,0,0,0,0

In [180]:
# Final DF for Cases: county, date, cases, cumulative_cases, reported_cases, cumulative_reported_cases
Cases = covid19cases_df[["county", "date", "cases", "cumulative_cases", "reported_cases","cumulative_reported_cases"]]
Cases

,county,date,cases,cumulative_cases,reported_cases,cumulative_reported_cases
0,Alameda,2021-03-16,0,82259,100,82259
1,Alpine,2021-03-16,0,82,0,82
2,Amador,2021-03-16,0,3510,4,3510
3,Butte,2021-03-16,0,11154,13,11154
4,Calaveras,2021-03-16,0,1945,4,1945
...,...,...,...,...,...,...
26895,Tulare,2020-01-01,0,0,0,0
26896,Tuolumne,2020-01-01,0,0,0,0
26898,Ventura,2020-01-01,1,4,0,0
26899,Yolo,2020-01-01,0,2,0,0
26900,Yuba,2020-01-01,0,1,0,0

In [181]:
# Final DF for Counties: county, date, population
Counties = covid19cases_df[["county", "date", "population"]]
Counties

          county       date  population
0        Alameda 2021-03-16     1685886
1         Alpine 2021-03-16        1117
2         Amador 2021-03-16       38531
3          Butte 2021-03-16      217769
4      Calaveras 2021-03-16       44289
...          ...        ...         ...
26895     Tulare 2020-01-01      484423
26896   Tuolumne 2020-01-01       52351
26898    Ventura 2020-01-01      852747
26899       Yolo 2020-01-01      223612
26900       Yuba 2020-01-01       79290

[26019 rows x 3 columns]

In [182]:
# This is the final vaccine data that will be used in SQL
Hospitalized_COVID_patients.to_csv("Hospitalized_COVID_patients.csv")

In [183]:
# This is the final hospital by county data
Hospital_beds.to_csv("Hospital_beds.csv")

In [184]:
# This is the final COVID19 test cases data
ICU_COVID_patients.to_csv("ICU_COVID_patients.csv")

In [185]:
# This is the final COVID19 test cases data
Total_tests.to_csv("Total_tests.csv")

In [186]:
Counties.to_csv("Counties.csv")

In [187]:
Deaths.to_csv("Deaths.csv")

In [188]:
Cases.to_csv("Cases.csv")